body, html {
    margin: 0;
    font-family: sans-serif;
}
#background {
    background: url(../img/blueprint-background-11834.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    z-index: 999;
}
.content {
    border-radius: 5px;
    background:rgba(255, 255, 255, 0.6);
    margin: auto;
    margin-top: 20px;
    width: 600px;
    padding: 8px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;   
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}